<!--
  Generated template for the SocialLogin page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding class="social">
  <ion-grid id="social-grid" padding>
    <ion-row>
      <ion-col col-6 offset-3 text-center>
        <ion-avatar>
          <img src="assets/images/icon.png">
        </ion-avatar>
        <h6 text-center>Task Organiser</h6>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-2 text-center>
        <ion-icon name="ios-person-outline"></ion-icon>
      </ion-col>
      <ion-col ion-item>
        <ion-input type="text" [(ngModel)]="user.key" placeholder="Email or Phone"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-2 text-center>
        <ion-icon name="ios-key-outline"></ion-icon>
      </ion-col>
      <ion-col ion-item>
        <ion-input type="password" [(ngModel)]="user.password" placeholder="Password"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button [disabled]="user.key=='' || user.password=='' " ion-button full (click)="login()">Login</button>
      </ion-col>
    </ion-row>

    <ion-row text-center>
      <ion-col>
        <h3>or</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button full icon-only (click)="doFacebookLogin()">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button full icon-only (click)="doGoogleLogin()">
          <ion-icon name="logo-googleplus"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5 text-center>Don't have an account? <a href="#" (click)="signUp($event)">Sign Up</a></h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5 text-center><a href="#" (click)="reset($event)">Forgot Password ?</a></h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6 text-center><a href="#">By Logging in, I agree to the <br/><u (click)="terms()">Terms and Conditions</u></a></h6>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
