.social{
  background-color: #087cc9;
}
.social ion-row{
  padding: 0;
  margin-top: 10px !important;
}
.social ion-row:nth-child(1){
  margin-bottom: 7%;
}
.social ion-row:nth-child(2),.social ion-row:nth-child(3){
  background-color: #FFF;
  border-radius: 5px;
  margin-top: 5px;
}

.social ion-row:nth-child(4),.social ion-row:nth-child(6),.social ion-row:nth-child(7){
  background-color: #3498db;
  border-radius: 5px;
  margin-top: 5px;
}

.social ion-col[offset-3] h6{
  color: #FFF;
  font-weight: lighter;
  margin: 0;
}

.social ion-col[col-2] ion-icon{
  background-color: #087cc9;
  font-size: 30px;
  width: 100%;
  min-height: 100% !important;
  text-align: center;
  padding-top: 13%;
  color: #FFF;
}

.social button{
  background-color: #3498db;
  box-shadow: none;
}

.social ion-col h3,.social ion-col h5{
  color:#FFF;
}

.social ion-col h5{
  margin-top: 20px !important;
}
.social ion-col h5 a,.social ion-col h6 a{
  color: #FFF;
  font-weight: bolder;
  text-decoration: none;
}
.social ion-col h6 a{
  font-weight:lighter !important;
  font-size: 11px;
}
.social button[full] ion-icon{
  font-size: 30px;
}

.social ion-input{
  border: 1px solid #FFF;
}

.social ion-col[ion-item]{
  background-color: #FFF !important;
}

.social ion-row img {
    height: 100%;
    width: 100%;
}
