#invitations img{
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
ion-col[col-12]{
  text-align: center;
}

button[color="secondary"]{
  background-color: green;
}
button[color="danger"]{
  background-color: red;
}
#invitations h3{
    text-align: center;
    font-weight: bold;
}
