<!--
  Generated template for the Dashboard page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar no-lines>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/icon.png" alt="">
      <span>Home</span>
    </ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="loading...">
    </ion-refresher-content>
  </ion-refresher>
  <a [hidden]="!current_adv" href="#" (click)="open_url(current_adv_link)">
    <img class="advert" [src]="_DomSanitizationService.bypassSecurityTrustUrl(current_adv)" alt="">
  </a>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button class="calBtn" (click)="createTask()" icon-right color="light">Create Task&nbsp;
          <img id="addIcon" src="assets/images/add.png" alt="">
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="flag1">
      <ion-col col-6>
        <button ion-button class="calBtn" (click)="addChild()" icon-left color="light">
          <span class="addIcon2">
            <img src="assets/images/add2.png" alt="">
          </span>&nbsp;&nbsp;&nbsp;Add Person</button>
      </ion-col>
    </ion-row>
    <!--
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-list-header>
            Work
          </ion-list-header>
          <div *ngFor="let child of allchildren">
          <div *ngIf='child.type === "work"'>
          <ion-item *ngIf="child.id" [ngClass]="{'newChat' :(child.boldChildren == true)}" (click)="childReport(child._id,child.avatar)">
            <ion-avatar item-left>
              <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(child.id.avatar)">
            </ion-avatar>
            <h2>{{child.id.first_name}}&nbsp;{{child.id.last_name}}</h2>
            <p>{{child.id.points}} Points</p>
          </ion-item>
          </div>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>-->

    <ion-row>
      <ion-col col-12>
        <ion-list>
          
          <ion-list-header>
            Personal
            <!-- <button (click)="refreshh()" style="color:blue;box-shadow:none;float:right" ion-button icon-only>
                <ion-icon style="font-size:1.6em" name="refresh"></ion-icon>
              </button> -->
          </ion-list-header>
          <div *ngFor="let child of allchildren">
            <div *ngIf='child.type == "personal"'>
              <ion-item *ngIf="child.id" [ngClass]="{'newChat' : (child.boldChildren == true)}" (click)="childReport(child.id._id,child.id.avatar,child.id.childPoints)">
                <ion-avatar item-left>
                  <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(child.id.avatar)">
                </ion-avatar>
                <h2>{{child.id.first_name}}&nbsp;{{child.id.last_name}}</h2>
                <p>{{child.id.childPoints}} Points</p>
              </ion-item>
            </div>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-list-header *ngIf='flag'>
            Work
            <!-- <button (click)="refreshh()" style="color:blue;box-shadow:none;float:right" ion-button icon-only>
                <ion-icon style="font-size:1.6em" name="refresh"></ion-icon>
              </button> -->
          </ion-list-header>
          <div *ngFor="let child of allchildren">
            <div *ngIf='child.type == "work"'>
              <ion-item *ngIf="child.id" [ngClass]="{'newChat' :(child.boldChildren == true)}" (click)="childReport(child.id._id,child.id.avatar,child.id.childPoints)">
                <ion-avatar item-left>
                  <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(child.id.avatar)">
                </ion-avatar>
                <h2>{{child.id.first_name}}&nbsp;{{child.id.last_name}}</h2>
                <p>{{child.id.childPoints}} Points</p>
              </ion-item>
            </div>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>