.content {
  background-color: #f5f5f5;
}
ion-row img{
  height: 134px;
  width: 100%;
}
.homeBtn{
  background-color: #087cc9;
  color: #FFF;
  font-weight: bold;
  //border-radius: 10px;
  height: 40px;
  margin-bottom: 0;
}

.homeContent{
  height: 150px;
  padding: 10%;
  font-size: 19px;
  //color: #087cc9;
}

#profile ion-label{
  margin-bottom: 0 !important;
}
#profile ion-grid{
  margin-top: 20px;
}
#profile ion-input,ion-select{
  background-color: #FFF;
  //border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid;
  border-color: gray;
}
#profile ion-select{
  min-width: 100%;
  border-radius: 0 !important;
}
ion-col[col-3][ion-item]{
  margin: 5px 0;
}

#profile ion-select,#profile ion-input{
  font-size: 13px !important;
  //font-weight: bold;
}


#profile .error{
  color:gray;
  font-style: italic;
  //font-weight: bold;
}
#profile .item-inner{
  border-bottom:1px solid #f5f5f5 !important;
}



