<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img src="assets/icon.png" alt=""> <span>Rest Password</span> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="profile" class="content">
  <form [formGroup]="resetForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
          </ion-item>
          <span [hidden]="resetForm.valid" class="error">Please input valid email address</span>
        </ion-col>
      </ion-row>

      <div [hidden]='!resetForm.valid'>
        <ion-label text-wrap>
          <h5>Date of Birth<span> "For security verification" </span></h5>
        </ion-label>
        <ion-row id="secondRow">
          <ion-col col-4>
            <ion-select (ionChange)="check_date()" formControlName="birth_day">
              <ion-option *ngFor="let day of days">{{day}}</ion-option>
            </ion-select>
          </ion-col>
          <ion-col col-4>
            <ion-select (ionChange)="check_date()" formControlName="birth_month">
              <ion-option *ngFor="let month of months">{{month}}</ion-option>
            </ion-select>
          </ion-col>
          <ion-col col-4>
            <ion-select (ionChange)="check_date()" formControlName="birth_year">
              <ion-option *ngFor="let year of years">{{year}}</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </div>
      
      <ion-row>
        <ion-col col-12>
          <div padding>
            <button ion-button [disabled]='!resetForm.valid' (click)="reset()" class="taskBtn" full>Reset</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>