.createTask #firstRow ion-input, .createTask textarea,.createTask ion-input,.createTask ion-select{
  border: 1px solid  #FFF !important;
  background-color: #FFF;
  //padding: 2px;
  min-width: 100% !important;
}


ion-select,#thirdRow ion-input{
  min-height: 30px;
}
#thirdRow ion-select{
    padding: 10px;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
}
.createTask h3{
  text-align: center;
  font-weight: bold;
}

.createTask textarea{
  max-width: 100%;
  margin: 0;
}
.createTask ion-row{
  margin: 0;
  padding: 0;
}


.createTask div span{
  text-align: left;
}
#btns{
  margin: 10px auto !important;
}
