// http://ionicframework.com/docs/v2/theming/

@import url('https://fonts.googleapis.com/css?family=Muli');
*{
  font-family: 'Muli', sans-serif;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
*::-webkit-input-placeholder {
  color: black !important;
  font-weight: normal;
  padding-left: 2px;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
  color:white;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default,.toolbar-background,.toolbar-title-md,.toolbar-title-ios,.toolbar-background-ios,.toolbar-title{
  background-color: #087cc9;
  color: #FFF;
  text-align: center;
}

.list button,#headerItem{
  background-color: transparent;
  color:#FFF;
}


.menuContent .list,.menuContent{
  background-image: url('../assets/images/bg.jpg');
}

.image-rotate{
  //border:1px solid transparent;
  border-radius: 50%;
  box-sizing: padding-box;
  height: 180px;
  width: 180px;
}
.menuContent  #headerItem,#headerItem .item-inner{
  text-align:center;
  border-bottom: none;
}

.menuContent  #headerItem h4,#headerItem h1{
    font-weight: bolder;
    color:#FFF;
}

.menuBtns{
  font-weight: bolder;
  color:#FFF;
}
ion-input,textarea,ion-select{
  border:1px solid #FFF !important;
  background-color: #FFF;
  padding-left: 8px;
  min-height: 40px;
}
*[ion-item]{
  background: #f5f5f5;
}
.taskBtn{
  background-color: #087cc9;
  color: #FFF;
  font-weight: bold;
  height: 50px;
  width: 70%;
  margin: 5px auto;
}
.toast-container{
  background-color: #669900;
  //font-style: italic;
}

.error{
  color:#c0392b !important;
  font-style: italic;
  text-align: left;
}
ion-header img{
  width: 30px;
  height: 28px;
}
ion-title span{
  vertical-align: top !important;
}

ion-title{
  width: 80% !important;
  margin-left: 0 !important;
}
// .col {
// position : initial !important;
// }

