<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img src="assets/icon.png" alt=""> <span>Settings</span> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="setting">
  <ion-list>
    <ion-item>
      <ion-avatar item-left>
        <img [src]="domSanitizer.bypassSecurityTrustUrl(user.avatar)" alt="">
      </ion-avatar>
      <p>{{user.first_name}}&nbsp;{{user.last_name}}</p>
    </ion-item>

    <ion-item icon-left (click)="editProfile()">
      <ion-icon color="primary" name="create"></ion-icon>Edit Details
    </ion-item>

    <!--<ion-item icon-left (click)="deleteProfile()">
      <ion-icon color="danger" name="remove-circle"></ion-icon>Delete Account
    </ion-item>-->

  </ion-list>
</ion-content>
