<!--
  Generated template for the SocialLogin page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--<ion-header>
  <ion-toolbar>
    <ion-buttons style="font-size:1.4em;" (click)="childreport()" >
      <button style="margin-left:10px" ion-button icon-only>
        <ion-icon name="arrow-back" start></ion-icon>       
    </button> 
    </ion-buttons>
   <ion-title><img src="assets/icon.png" alt=""> <span>Task View</span> </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-header>

  <ion-navbar>
    <ion-title><img src="assets/icon.png" alt=""> <span>Task View</span> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
          <h4>{{task.title}}</h4>
      </ion-col>
    </ion-row>

    <ion-row id="task-detail">
      <ion-col>
        <h5 class="task-title">Assigned By :</h5>
        <ion-item>
        <ion-avatar item-left>
          <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(task.parent_id.avatar)" alt="">
        </ion-avatar>
        <p text-justify>{{task.parent}}</p>
        <h4 text-justify>{{task.points}} Points</h4>
        <h5 *ngIf="task.deadline" text-justify>Due By :</h5>
        <h4 *ngIf="task.deadline"text-justify>{{task.time}}</h4>
        <h4 *ngIf="task.deadline">{{task.hours}}</h4>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
          <button *ngIf="(user_id==task.parent_id._id&&task.waiting) || (user_id==task.parent_id._id && user_id==task.child && task.status!='closed')" ion-button full color="secondary" (click)="approve()" >Approve <br/>Completion</button>
      </ion-col>
      <ion-col col-4>
          <button *ngIf="user_id==task.parent_id._id&&task.waiting" ion-button full color="danger" (click)="not_complete()" >Not  <br/>Completed</button>
      </ion-col>
      <ion-col col-4 id="task-detail-links" *ngIf="user_id==task.parent_id._id&&task.status=='open'">
          <a href="#" (click)="edit_task()">Edit</a>&nbsp;
          <a href="#" (click)="delete_task()">Delete</a>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="user_id==task.child&&user_id!=task.parent_id._id&&task.status=='open'&&task.waiting==false">
      <ion-col col-12>
          <button ion-button full color="secondary" (click)="task_done()" >Mark As Done!</button>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-12>
          <h4 id="notes-title">Description</h4>
          <h6>{{task.desc}}</h6>
      </ion-col>
    </ion-row>


    <ion-row [hidden]="user_id==task.child&&user_id==task.parent_id._id">
      <ion-col>
        <h4 id="notes-title">Task Chat</h4>
      </ion-col>
    </ion-row>

    <ion-row [hidden]="(user_id==task.child&&user_id==task.parent_id._id) || task.status=='closed'">
      <ion-col style="position : initial !important;">
        <ion-item>
          <ion-textarea  type="text" rows="4" [(ngModel)]="note_txt"></ion-textarea >
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <button ion-button full icon-only clear (click)="add_note()" [disabled]="!this.note_txt || this.note_txt==''">
          <ion-icon name="md-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item *ngFor="let note of task.notes">
              <p  *ngIf="note.user_id==task.parent_id._id" [ngClass]="{'textbold' : (note.boldNote == true && note.user_id==task.parent_id._id && task.boldFor == user_id )}" text-wrap text-left>{{note.txt}}</p>
              <!--<span text-wrap *ngIf="note.user_id==task.parent_id._id" class="taskStatusDone" >seen</span>-->
              <ion-avatar item-left *ngIf="note.user_id==task.parent_id._id">
                <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(task.parent_id.avatar)">
              </ion-avatar>

              <ion-avatar item-right *ngIf="note.user_id==task.child">
                <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(child_avatar)">
              </ion-avatar>
              <p [ngClass]="{'textbold' : (note.boldNote == true && note.user_id==task.child && task.boldFor == user_id )}" text-wrap text-right *ngIf="note.user_id==task.child">{{note.txt}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- [ngClass]="{'textbold' : (note.boldNote == true && note.user_id==task.parent_id._id )}" -->