// page-task-details {

// .toolbar-title {
//     overflow: visible;
//     margin-left: 20%;
//     margin-top: -10%;
// }

// .toolbar-content-md {
//     -webkit-box-flex: 1;
//     -webkit-flex: 1;
//     -ms-flex: 1;
//     flex: 1;
//     -webkit-box-ordinal-group: 4;
//     -webkit-order: 3;
//     -ms-flex-order: 3;
//     order: 3;
//     display: inline-block;
//     min-width: 0;
//     max-width: 100%;
// }

// }

ion-col[col-12] h4{
  color:#087cc9;
  text-decoration: underline;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
}

#task-detail,#task-detail ion-item,#task-detail .item-inner,ion-avatar[item-left] img{
  background-color: #e6e6e6 !important;
  border: none !important;
}
.task-title{
  margin-left: 10px;
  margin-bottom: 0;
}
#task-detail ion-item{
  padding-top: 0 !important;
  margin-top: 0 !important;
}
#task-detail ion-avatar[item-left] img{
  width: 100px;
  height: 100px;
}

#task-detail .item-inner,#task-detail{
  margin-top: 0 !important;
  padding-top: 0 !important;
}
#task-detail h5{
  font-size: 16px;
  font-weight: bold;
}

#task-detail h4{
  font-size: 13px;
  font-weight: bolder;
}
ion-col[col-4] button{
  width: 100%;
  height: 70px;
  line-height: 30px;
  font-weight: bolder;
  font-size: 11px;
}
#task-detail-links{
  padding-top: 30px;
  font-weight: bold;
  padding-left: 15px;
}
#notes-title{
  margin-top: 25px;
  color:#000;
  text-decoration: none;
}
#notes,h6{
  margin-top: 10px;
  margin-left: 30px;
  text-align: left;
}
#notes h5,h6{
  margin-top: 0;
  text-align: left;
}

ion-col[offset-8] a{
    display: block;
    margin-top: 10px;
    font-weight: bolder;
}

button[icon-only]{
  margin-top: 0 !important;
}
ion-col[col-2] button{
  min-height: 100% !important;
}

.textbold {
  font-weight: 900;
}